<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.mapper.EbOrderMapper" >
  <resultMap id="BaseResultMap" type="cn.itcast.model.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="INTEGER" />
    <result column="order_total" property="orderTotal" jdbcType="VARCHAR" />
    <result column="order_describe" property="orderDescribe" jdbcType="VARCHAR" />
    <result column="order_createtime" property="orderCreatetime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="buy_number" property="buyNumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_number, order_total, order_describe, order_createtime, user_id, commodity_id, 
    buy_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.model.Order" >
    insert into Order (order_id, order_number, order_total, 
      order_describe, order_createtime, user_id, 
      commodity_id, buy_number)
    values (#{orderId,jdbcType=INTEGER}, #{orderNumber,jdbcType=INTEGER}, #{orderTotal,jdbcType=VARCHAR}, 
      #{orderDescribe,jdbcType=VARCHAR}, #{orderCreatetime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{commodityId,jdbcType=INTEGER}, #{buyNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.model.Order" >
    insert into Order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="orderTotal != null" >
        order_total,
      </if>
      <if test="orderDescribe != null" >
        order_describe,
      </if>
      <if test="orderCreatetime != null" >
        order_createtime,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="buyNumber != null" >
        buy_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null" >
        #{orderTotal,jdbcType=VARCHAR},
      </if>
      <if test="orderDescribe != null" >
        #{orderDescribe,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatetime != null" >
        #{orderCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="buyNumber != null" >
        #{buyNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.model.Order" >
    update Order
    <set >
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null" >
        order_total = #{orderTotal,jdbcType=VARCHAR},
      </if>
      <if test="orderDescribe != null" >
        order_describe = #{orderDescribe,jdbcType=VARCHAR},
      </if>
      <if test="orderCreatetime != null" >
        order_createtime = #{orderCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="buyNumber != null" >
        buy_number = #{buyNumber,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.model.Order" >
    update Order
    set order_number = #{orderNumber,jdbcType=INTEGER},
      order_total = #{orderTotal,jdbcType=VARCHAR},
      order_describe = #{orderDescribe,jdbcType=VARCHAR},
      order_createtime = #{orderCreatetime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      commodity_id = #{commodityId,jdbcType=INTEGER},
      buy_number = #{buyNumber,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>